#follow
  img.close.img-responsive(src='/assets/images/follow_cross.png')
  .wrapper
    .subscribe-wrapper
      input.input(name='email', type='email', placeholder='EMAIL', required='required', aria-required='true')
      button.subscribe SUBSCRIBE
    .row
      .col-xs-4
        img#twitter.social_icon.text-center.img-responsive(src='/assets/images/twitter.png')
      .col-xs-4
        img#facebook.social_icon.text-center.img-responsive(src='/assets/images/facebook.png')
      .col-xs-4
        img#pinterest.social_icon.text-center.img-responsive(src='/assets/images/pinterest.png')
    .row
      .col-xs-4
        img#weibo.social_icon.text-center.img-responsive(src='/assets/images/sina-weibo.png')
      .col-xs-4
        img#googleplus.social_icon.text-center.img-responsive(src='/assets/images/googleplus.png')
      .col-xs-4
        img#instagram.social_icon.text-center.img-responsive(src='/assets/images/instagram.png')
    .row
      .col-xs-4
        img#youku.social_icon.text-center.img-responsive(src='/assets/images/youku-2.png')
      .col-xs-4
        img#qzone.social_icon.text-center.img-responsive(src='/assets/images/qzone.png')
      .col-xs-4
        img#wechat.social_icon.text-center.img-responsive(src='/assets/images/wechat.png')
    p.title.text-center
      a(href="") More