#follow
  img.close.img-responsive(src='/assets/images/follow_cross.png')
  .wrapper
    input.input(name='email', type='email', placeholder='EMAIL', required='required', aria-required='true')
    button.subscribe SUBSCRIBE
    p.title connect with us
    .row
      .col-xs-3
        img#twitter.social_icon.img-responsive(src='/assets/images/twitter.png')
      .col-xs-3
        img#facebook.social_icon.img-responsive(src='/assets/images/facebook.png')
      .col-xs-3
        img#pinterest.social_icon.img-responsive(src='/assets/images/pinterest.png')
      .col-xs-3
        img#weibo.social_icon.img-responsive(src='/assets/images/sina-weibo.png')
    .row
      .col-xs-3
        img#googleplus.social_icon.img-responsive(src='/assets/images/googleplus.png')
      .col-xs-3
        img#thumblr.social_icon.img-responsive(src='/assets/images/thumblr.png')
      .col-xs-3
        img#vimeo.social_icon.img-responsive(src='/assets/images/vimeo.png')
      .col-xs-3
        img#qqweibo.social_icon.img-responsive(src='/assets/images/tengxunweibo.png')
    .row
      .col-xs-3
        img#weixin.social_icon.img-responsive(src='/assets/images/weixinqr.png')