.top-wrapper(ng-controller="productsCtrl" ng-show="!identity.currentUser.isPro()")
  #account-top
    .navs
      .col-xs-6
        a(href='#')
          img(src='/images/logo.png')
        ul
          li my.
          li
            a(href="/account/love-products") love 
          li
            a(href="/account/profile") profile
          li
            a(href="/account/recentnews") Connection
      .col-xs-6.text-right
        div.chat-text
          | lovely to meet,
          b
            | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
    .clearfix   
    .lists(ng-controller="accountCtrl" ng-show="isLove()")
      ul
        li
          a(href="/account/love-products") lovely products
        li
          a(href="/account/love-brand") followed brand
  .clearfix  
      .welcome
        | lovely to meet,
        b
          | {{identity.currentUser.firstName + " " + identity.currentUser.lastName}}
    .lists(ng-controller="accountCtrl" ng-show="isLove()")
      ul
        li
          a(href="/account/love-products") lovely products
        li
          a(href="/account/love-brand") followed brand
        li
          a(href="/account/love-looks") Saved look
  .clearfix  
