#vipSidebar(ng-controller="accountCtrl")
  .profile
    .info
      .col-xs-4.headshot
        img.img-responsive(ng-src="/assets/images/pro/p2.jpg")
        a(href="/account/compose")
          button.other-profile Message
      .col-xs-8.details
        h3.name Minne Hayes
        p.intro founder at c14 creative
        p.role Photographer
        p.connections 
          span.count 4
          a(href="/account/otherconnections").connections Connections
    .clearfix 
    .about
      p I am a fashion photographer. em Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  .recommend
    h3 You may also know
    #carousel.carousel.slide(data-ride="carousel")
      .carousel-inner
        .item.active
          ul.list-inline
            li.col-xs-3(ng-repeat="person in people | orderBy:random | limitTo:quantity4") 
              a(href="/account/otherprofile")
                img.img-responsive(ng-src="{{person.img}}")
              .infowrapper
                h4.name {{person.name}}
                p.role {{person.role}}
        .item
          ul.list-inline
            li.col-xs-3(ng-repeat="person in people | orderBy:random | limitTo:quantity4") 
              a(href="/account/otherprofile")
                img.img-responsive(ng-src="{{person.img}}")
              .infowrapper
                h4.name {{person.name}}
                p.role {{person.role}}
      a.left.carousel-control(href='#carousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right