#vipSidebar
  .profile
    .info
      .col-xs-4.headshot
        img.img-responsive(ng-src="/assets/images/pro/blogger.jpg")
        a(href="/account/compose")
          button.other-profile Message
      .col-xs-8.details
        h3.name Minne Hayes
        p.intro founder at c14 creative
        p.role Photographer
        p.connections 
          span.count 3
          a(href="/account/otherconnections").connections Connections
    .clearfix 
    .about
      p I am a fashion photographer. em Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
  .recommend
    h3 You may also know
    #carousel.carousel.slide(data-ride="carousel")
      .carousel-inner
        .item.active
          ul.list-inline
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/designer.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/designer1.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/desginer2.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/desginer4.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
        .item
          ul.list-inline
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/editor.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer 
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/designer1.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/model.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
            li.col-xs-3
              a
                img.img-responsive(ng-src="/assets/images/pro/photographer.jpg")
              .infowrapper
                h4.name Kristina
                p.role Photographer
      a.left.carousel-control(href='#carousel' role='button' data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel' role='button' data-slide='next')
        span.glyphicon.glyphicon-chevron-right