.signup-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(218,218,218,0.7);
  position: fixed;
  z-index: 99;
}
.signup-wrapper #signup {
  bottom: 0;
  height: 400px;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 290px;
  z-index: 125;
  background-color: #fff;
  border-radius: 5px;
  opacity: 0.95;
}
.signup-wrapper #signup .title {
  color: #000;
  font: 700 25px/1.2 'PT Sans';
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100%;
  z-index: 300;
}
.signup-wrapper #signup .divider {
  height: 12px;
  margin-left: 20px;
  position: absolute;
  top: 50px;
  width: 250px;
  z-index: 300;
}
.signup-wrapper #signup .divider.with {
  background-image: url("/assets/images/signup_divider1.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.signup-wrapper #signup .divider.or {
  background-image: url("/assets/images/signup_divider2.png");
  background-position: center center;
  background-repeat: no-repeat;
  top: 225px;
}
.signup-wrapper #signup .email {
  color: #000;
  font: 700 16px/1.2 'PT Sans';
  height: 40px;
  padding-left: 10px;
  left: 20px;
  position: absolute;
  top: 80px;
  width: 250px;
  z-index: 300;
}
.signup-wrapper #signup .password {
  color: #000;
  font: 700 16px/1.2 'PT Sans';
  height: 40px;
  left: 20px;
  padding-left: 10px;
  position: absolute;
  top: 130px;
  width: 250px;
  z-index: 300;
}
.signup-wrapper #signup .submit {
  border: 1px solid #000;
  color: #000;
  font: 700 16px/1.2 'PT Sans';
  height: 30px;
  left: 20px;
  position: absolute;
  background-color: #fff;
  top: 180px;
  width: 250px;
  z-index: 300;
}
.signup-wrapper #signup .submit:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #757576;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.signup-wrapper #signup .social {
  height: 30px;
  left: 50px;
  position: absolute;
  top: 250px;
  width: 230px;
  z-index: 300;
}
.signup-wrapper #signup .social img {
  margin-right: 24px;
  opacity: 0.6;
  width: 30px;
}
.signup-wrapper #signup .social img:hover {
  transition: all 0.8s ease;
  opacity: 1;
}
.signup-wrapper #signup p {
  color: #878787;
  font: 300 14px/1.2 'PT Sans';
  height: 30px;
  left: 20px;
  position: absolute;
  text-align: center;
  top: 290px;
  width: 250px;
  z-index: 300;
}
.signup-wrapper #signup p a {
  color: #000;
  cursor: point;
}
.signup-wrapper #signup .close {
  background-image: url("/assets/images/follow_cross.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 40px;
  left: 125px;
  position: absolute;
  top: 330px;
  width: 40px;
  z-index: 300;
  transition: all 0.5s ease;
}
.signup-wrapper #signup .shadow {
  position: absolute;
  z-index: 300;
  width: 280px;
  height: 40px;
  top: 394px;
  left: 5px;
  background-image: url("/assets/images/shadow.png");
  background-position: center;
  background-repeat: no-repeat;
}
