#shareModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal")
            span(aria-hidden="true") &times;
            span.sr-only Close
          h4#myModalLabel.modal-title Share a lovely product
        .modal-body
          .row
            .col-xs-4
              img#twitter.social_icon.text-center.img-responsive(src='/assets/images/twitter.png')
            .col-xs-4
              img#facebook.social_icon.text-center.img-responsive(src='/assets/images/facebook.png')
            .col-xs-4
              img#pinterest.social_icon.text-center.img-responsive(src='/assets/images/pinterest.png')
          .row
            .col-xs-4
              img#weibo.social_icon.text-center.img-responsive(src='/assets/images/sina-weibo.png')
            .col-xs-4
              img#googleplus.social_icon.text-center.img-responsive(src='/assets/images/googleplus.png')
            .col-xs-4
              img#instagram.social_icon.text-center.img-responsive(src='/assets/images/instagram.png')
          .row
            .col-xs-4
              img#youku.social_icon.text-center.img-responsive(src='/assets/images/youku-2.png')
            .col-xs-4
              img#qzone.social_icon.text-center.img-responsive(src='/assets/images/qzone.png')
            .col-xs-4
              img#wechat.social_icon.text-center.img-responsive(src='/assets/images/wechat.png')
      .clearfix
