.col-xs-3
  include partials/brand-sidebar
.col-xs-9
  #traces(ng-controller="brandTraceCtrl")
    ul(masonry)
      li.masonry-brick.col-xs-4(ng-repeat="trace in traces | orderBy:'id'")
        a.fancybox(id="{{trace.id}}" href="{{trace.image}}" rel="gallery" data-fancybox-group="gallery" title="{{trace.text}}" fancybox="{openEffect : 'elastic', closeEffect : 'elastic',helpers : {title : {type : 'outside'}}}")
          img.img-responsive( ng-src="{{trace.image}}")