#vipAccountInboxContent
  margin-right 20px
  margin-left 20px
  color #000
  font-size 13px
  font-family 'PT Sans'
  .messages
    font-weight 600
    li.media
      margin-top 0
      padding-top 15px
      padding-bottom 15px
      border-bottom 1px solid #d8d8d8
      background #ececec
      &.unread
        background transparent
      a
        color #000
        font-weight 600
        text-decoration none  
      h4
        font-weight 600
        margin-bottom 5px
      p
        margin-bottom 0
        font-weight 100
      img
        width 70px
        margin-left 20px
        margin-right 10px
      .desc
        font-family 'Source Sans Pro'
        font-weight 300
        color #868686