#info-top 
  .navs
    .col-xs-6
      a(href='#')
        img(src='/images/logo.png')
      ul
        li
          a(href="/info" target="_self") about
        li
          a.active(href="/join-us" target="_self") join us
        li
          a(href="/customer-care" target="_self") customer care
    .col-xs-6.text-right
      div
        button.chat_btn Chat Online
      div.chat-text
        | lovely to help
  .clearfix   

