#cart
  font-family "source sans pro" "PT Sans"
  a
    color black
  .no-margin
    margin-bottom 0
  .need-margin
    margin-bottom 20px
  .enlarge
    font-size 18px
  #cartSiderbar
    font-family "PT Sans"
    padding 40px
    padding-top 0
    border-right 1px solid #c2c2c2
    margin-top 40px
    .title
      font-size 18px
      font-weight 700
      margin-bottom 5px
    .amount
      font-size 24px
      font-weight 700
      margin-bottom 10px
    .note
      color #c2c2c2
    button
      border none
      width 150px
      height 36px
      font-size 18px
      font-weight 700
      margin-bottom 20px
      border-radius 2px
    .checkout
      margin-top 40px
      background-image -moz-linear-gradient( 90deg, rgb(78,78,78) 0%, rgb(124,124,124) 100%)
      background-image -webkit-linear-gradient( 90deg, rgb(78,78,78) 0%, rgb(124,124,124) 100%)
      background-image -ms-linear-gradient( 90deg, rgb(78,78,78) 0%, rgb(124,124,124) 100%)
      box-shadow 0.262px 4.993px 0px 0px rgba(87, 87, 87, 0.294)
      color white
    .back-to-shop
      color black
      background-color white
      border 1px solid black
      margin-bottom 40px
    .misc
      border-bottom 1px solid #c2c2c2
      padding-bottom 10px
      margin-bottom 20px
      img
        margin-right 10px
      a
        color #c2c2c2
        &:hover
          text-decoration none
          color black
    .problems
      p
        color #c2c2c2
        b
          color black
  #cartProducts
    padding 20px 10px
    margin-top 20px
    li
      padding 0 20px
      margin-bottom 40px
      .cart-info-header
        padding-bottom 10px
        .remove
          font-size 12px
          border none
          border-radius 2px
          background-color black
          color white
      .cart-thumb
        img
          width 90%
        button
          padding-left 20px
          border none
          text-decoration underline
          background white url('/assets/images/love-it.png') left center no-repeat
      .shipping
        .title
          border 1px solid black
          padding 5px
          padding-right 30px
          margin-bottom 10px
          background white url('/assets/images/shape-2.png') 95% center no-repeat