#account-love-brand #brand-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255,255,255,0.5);
  font-size: 16px;
  font-weight: 700;
  font-family: 'PT Sans';
  padding: 10px;
}
