#product-details {
  font-family: 'PT Sans' 'Source Sans Pro';
  background-color: #f6f6f6;
  padding: 10px 45px 45px;
  color: #929292;
  position: fixed;
  height: 100%;
  overflow: scroll;
}
#product-details a {
  color: #000;
}
#product-details a:hover {
  color: #000;
}
#product-details .row {
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
}
#product-details .row .brand {
  background: #e7e7e7;
  padding: 10px 15px;
  border-radius: 3px;
}
#product-details .row .brand a {
  margin-left: 8px;
  font-weight: 700;
  text-decoration: underline;
}
#product-details .row .brand button {
  margin-left: 30px;
  padding: 3px 12px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.3s ease-in-out 0s;
}
#product-details .row .brand button:hover {
  color: #fff;
  background-color: #000;
}
#product-details .row .share-wrapper {
  padding-top: 13px;
  margin-left: 20px;
}
#product-details .row .share-wrapper .share:hover + .share-expand {
  opacity: 1;
}
#product-details .row .share-wrapper .share-expand {
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
#product-details .row .share-wrapper .share-expand:hover {
  opacity: 1;
}
#product-details .row .share-wrapper .share-expand img {
  margin-left: 10px;
}
#product-details .row .share-wrapper .share-expand img:hover {
  opacity: 0.6;
}
#product-details .row .chat_btn {
  color: #000;
  text-align: left;
  margin-top: 10px;
  font-size: 11px;
  padding-top: 4px;
  padding-left: 10px;
  width: 100px;
  height: 25px;
  border-radius: 2px;
  background: #c7c7c7 url("/assets/images/speechbubble.png") 92% 5px no-repeat;
  font-weight: 300;
  border: 0;
}
#product-details .row .chat_btn:hover {
  color: #fff;
  background: #3c3c3c url("/assets/images/speechbubble_hover.png") 92% 5px no-repeat;
  transition: all 0.3s ease-in-out 0s;
}
#product-details .details {
  color: #000;
}
#product-details .details .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
#product-details .details .price {
  font-weight: 300;
  font-size: 30px;
  float: left;
}
#product-details .details .vat {
  color: #929292;
  padding-top: 16px;
  float: left;
  margin-left: 10px;
}
#product-details .details .delivery {
  color: #929292;
  font-size: 10px;
  list-style-type: none;
  margin-top: 10px;
  line-height: 1.4;
}
#product-details .details .delivery li:nth-child(2) {
  margin-bottom: 10px;
}
#product-details .details .carousel-title {
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
}
#product-details .details .carousel-title a {
  text-decoration: underline;
}
#product-details .tabs .tab-pane {
  font-family: "source sans pro";
  font-size: 16px;
  color: #808080;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  height: 200px;
  background: none;
  overflow: scroll;
  border-bottom: 1px solid #cbcbcb;
}
#product-details .tabs .tab-pane p {
  font-family: "source sans pro";
}
#product-details .carousels {
  margin-top: 20px;
}
#product-details .carousels .carousel-inner li {
  width: 16.666666%;
  padding: 10px;
}
#product-details .carousels .carousel-inner li img {
  width: 100%;
}
#product-details .carousels .carousel-inner li img:hover {
  border: 1px solid #d8d8d8;
}
#product-details .carousels .carousel-control {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 2px solid #808080;
  width: 15px;
  height: 15px;
  background: transparent;
  position: absolute;
  margin-top: 7%;
}
#product-details .carousels .carousel-control.left {
  margin-left: -25px;
  border-top: none;
  border-right: none;
}
#product-details .carousels .carousel-control.right {
  margin-right: -25px;
  border-bottom: none;
  border-left: none;
}
