#product-sidebar
  font-family  "PT Sans" "Source Sans Pro"
  padding-bottom 60px
  a
    color grey
    &:hover
      color black
      text-decoration none
  .zoom
    padding 0
    .cover
      width 100%
      position relative
      img
        width 100%
    .carousels
      padding-bottom 10px
      border-top 1px solid #d6d6d6
      background #f4f4f4
      margin-left 25px
      margin-right 25px
      padding-top 10px
      margin-top 20px
      .carousel-inner
        .item
          left -10px
          #gallery
            li
              margin 0
              padding 1%
  .info 
    margin-top 20px
    padding-left 25px
    padding-right 25px
    .parent
      color #000
      font-weight 700
      font-size 14px
      margin-bottom 20px
      padding-bottom 20px
      button
        border none
        background-color transparent
        background-repeat none
        outline none
      button:first-child
        margin-left 15px
      input
        width 30px
        text-align center
        border-radius 4px
        border 1px solid #babbba
      .child
        display inline-block
        display inline
        zoom 1
        color #000
        color #929292 
        li
          display inline-block
          display inline
          zoom:1
          margin 10px 20px 10px 20px
        li:first-child
          margin-left 38px
        li:last-child
          margin-right 0
    .parent.size
      select
        outline none
        font-size 12px
        border 1px solid #dadada
        background-color transparent
        font-weight 600
        padding 3px 10px
        width 100%
        margin-right 10px
        border-radius 2px
        -webkit-appearance  none
        -moz-appearance  none
        text-indent  1px
        background  transparent url("/assets/images/shape-2.png") 96% center no-repeat
    .parent.quantity
      border-bottom 1px solid #dadada
      padding-bottom 20px         
    button
      font-family "PT Sans" "Source Sans Pro"
      margin-left  16px
      width  85%
      height  35px
      font-size  15px
      font-weight  700
      border-radius  2px
      border none
      letter-spacing 1px
      &.addtocart
        background-color #505050
        box-shadow 0px 5px 0px 0px rgba(87, 87, 87, 0.4)   
        text-shadow  2px 3px 3px #727272
        color white
      &.buy
        box-shadow 0px 5px 0px 0px rgba(18, 18, 18, 0.4)   
        text-shadow  0px 0px 2px #fff
        background-color #c7c7c7
        color black
    .smalllink
      text-align left
      margin-left 14px
      height 40px
      margin-top 10px
      font-size 10px
      font-weight 100
      text-decoration underline
      p
        margin-bottom 1px
        font-size 12px
        a 
          color #929292
          display block
  #gallery
    margin-left 20px
    li
      margin-left 5px