include partials/account-top
#accountProfile
  .profile-wrapper.col-xs-11
    #profile.col-xs-6.profile-cell
      .profile-header.text-uppercase
        | profile
        button.text-uppercase.pull-right edit
      p.text-uppercase
        b mr.Zhe wang
      p
        b Username:&nbsp;
        | z.wang111
      p
        b Address:&nbsp;
        | z.wang@alt-001.com
      p
        b Phone number:&nbsp;
        | 07974773762
      p
        b Date of birth:&nbsp;
        | 12/12/1988
      p
        b Connected with:
        a(href="#")
          img(src="/assets/images/signup_weibo.png")
        a(href="#")
          img(src="/assets/images/signup_weibo.png")
        a(href="#")
          img(src="/assets/images/signup_weibo.png")
        a(href="#")
          img(src="/assets/images/signup_weibo.png")
    #preference.col-xs-6.profile-cell
      .profile-header.text-uppercase
        | preference
        button.text-uppercase.pull-right edit
      p
        b Location:&nbsp;
        | London
      p
        b Language:&nbsp;
        | English
      p
        b Currency:&nbsp;
        | Birtish Sterling Pound
      p
        b Colour:&nbsp;
        | B/W , Warm , Cold , Greyscale
      p
        b Category: &nbsp;
        | Apparel , Footerwear , Accessaries , Others
      p
        b Subscription: &nbsp;
        | You have subscribed to our
        b 
          a(href="#")
            | newsletter&nbsp;
        | and
        b 
          a(href="#")
            &nbsp;recommendation.
    .clearfix    
    #payment.col-xs-6.profile-cell
      .profile-header.text-uppercase
        | Payment and address detail
        button.text-uppercase.pull-right edit
      b My VISA uk
      p Card No: xxxx xxxx xxxx 1234
        br
        | Expiry date: 10/19
      b Billing address:
      p Zhe Wang
        br
        |37 sunderland point,
        br
        |1 hull place
        br
        |London
        br
        |E3 8LL
        br
        |United Kingdom
        br
        |Phone no:+44(0)7402716667
    #giftVoucher.col-xs-6.profile-cell
      .profile-header.text-uppercase
        | gift voucher
        button.text-uppercase.pull-right edit
      p You haven’t activated any gift voucher yet.
      br
      p
        b.text-uppercase CURRENT BALANCE: £0.00
        button.refresh-btn Update
      br
      p
        u
          i How do I find your claim code?
      p To add a gift card to your accountm simply input the code from the gift card and click ‘add’ your account will be credited with value on the gift card, and the amount will be deducted from your next order.
      input(type="input")
      input(type="submit" value="Add")
