include partials/vip-top
.col-xs-3
  include partials/vip-sidebar
.col-xs-9
  include partials/vip-top-sub
  #vipAccountInboxContent
    ul.messages
      li.media.unread
        a(href="/account/maildetail").pull-left
          img.media-object(ng-src='/assets/images/pro/p5.jpg')
        .media-body
          h4.col-xs-4.media-heading
            | Kristine
          ul.info.pull-right.list-inline
            li.date
              | 23 July
            li
              form
                input(type = "checkbox")
          .clearfix
          p.title
            | Hello
        p.desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
      li.media.unread
        a(href="/account/maildetail").pull-left
          img.media-object(ng-src='/assets/images/pro/p7.jpg')
        .media-body
          h4.col-xs-4.media-heading
            | Haizhen Wang
          ul.info.pull-right.list-inline
            li.date
              | 23 July
            li
              form
                input(type = "checkbox")
          .clearfix
          p.title
            | Fashion Week
        p.desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      li.media
        a(href="/account/maildetail").pull-left
          img.media-object(ng-src='/assets/images/pro/thumnail7.jpg')
        .media-body
          h4.col-xs-4.media-heading
            | a-lovely-thing team
          ul.info.pull-right.list-inline
            li.date
              | 23 July
            li
              form
                input(type = "checkbox")
          .clearfix
          p.title
            | Summer sale
        p.desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      li.media
        a(href="/account/maildetail").pull-left
          img.media-object(ng-src='/assets/images/pro/b1.jpg')
        .media-body
          h4.col-xs-4.media-heading
            | Jason
          ul.info.pull-right.list-inline
            li.date
              | 23 July
            li
              form
                input(type = "checkbox")
          .clearfix
          p.title
            | Summer sale
        p.desc
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate