include partials/vip-top
.col-xs-3
  include partials/vip-sidebar-other-connected
.col-xs-9
  #vipRecentNewsContent
    .top-bar
      .col-xs-4
        form(ng-model="vipSort")
          select 
            option(value="today") today
            option(value="this week") this week
            option(value="this month") this month
      .col-xs-8
        h5.col-xs-5.other-profile  Back to Recent News
        form(ng-model="vipSearch")
          .col-xs-7.pull-right
            input.search(type='text' placeholder='Search').col-xs-10
            button(type="submit").addon.col-xs-2
              span.glyphicon.glyphicon-search 
    .updates
      .lists
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/designer1.jpg')
            .caption
              h5.name
                a(href="") Minne Hayes
              p.role
                | Photographer
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/brand.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          span.connection 
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/desginer2.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          .span
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/thumnail4.jpg')
            .caption
              h5.name
                | handbag
              p.role
                | byAMT
          span.likes
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/brand1.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/brand2.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          span.connection 
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/pr expert.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/thumnail5.jpg')
            .caption
              h5.name
                | handbag
              p.role
                | byAMT
          span.likes
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/buyer.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          .span
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/store.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          span.connection
          p.duration
            | 1 day ago                    
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/profile_1173171134_75sq_1396544751.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          .span
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/thumnail2.jpg')
            .caption
              h5.name
                | handbag
              p.role
                | byAMT
          span.likes
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/brand1.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/brand2.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          span.connection 
          p.duration
            | 1 day ago
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/photographer1.jpg')
            .caption
              h5.name
                | Minne Hayes
              p.role
                | Photographer
          .span
        .col-xs-3.media-info
          .thumbnail
            img.media-object(ng-src='/assets/images/pro/thumnail7.jpg')
            .caption
              h5.name
                | handbag
              p.role
                | byAMT
          span.likes
          p.duration
            | 1 day ago