include partials/info-top
.info-wrapper.col-xs-12#customerCare(ng-controller="dummyCtrl")
  .tabs
    ul.nav.nav-tabs(role="tablist")
      li
        a.tab.active(href='#tabBrand' role="tab" data-toggle="tab" target="_self") Contact us
      li
        a.tab(href='#tabPro' role="tab" data-toggle="tab" target="_self") Policy
      li
        a.tab(href='#tabCareer' role="tab" data-toggle="tab" target="_self") Privacy
      li
        a.tab(href='#moreInfo' role="tab" data-toggle="tab" target="_self")  Shop
    .tab-content
      #tabBrand.tab-pane.fade.active
        p {{long}}
        p 
          b a lovely thing
        p 
          |37 London Road
          br
          |London
          br 
          |e2 8us
        a(href="") (020)888-8888
        a(href="") (020)888-5555
      #tabPro.tab-pane.fade
        p
          | We offer free worldwide delivery on all orders over £150
        p
          b UK 
          | - £4.95 for standard delivery by DHL in 3-4 working days** 
          br
          | Free delivery on all orders with Collect+ delivery to store in up to 5 days*** (what’s this?)
        p
          b EU  
          |  - £12.95 for express delivery by DHL in 24hrs-48hrs* 
          br
          | £9.95 for standard delivery by DPD in 3-5 days
        p
          b US &amp; Canada  
          |  - £12.95 for express delivery by DHL in 48hrs-5 days
        p
          b Japan 
          |  - We offer free shipping to Japan on all full-price items. 
          br
          | Sale Shipping - £16.95 for express delivery by DHL in 48hrs-5 days
        p
          b REST OF WORLD
          |  - £16.95 for express delivery by DHL in 48hrs-5 days**
        p
          b RUSSIA
          |  - Due to factors outside of our control we can no longer ship to Russian addresses. We apologise and hope that the situation is resolved soon.
        p  
          | ** DHL offers free text delivery alerts in the UK and Australia. To take advantage of this service please supply your mobile number at the checkout.
          br
          | *** Free Collect+ Delivery to Store is available on all UK orders up to £300 and not available on oversize items.
      #tabCareer.tab-pane.fade
        p  This Privacy Policy governs the manner in which a lovely thing collects, uses, maintains and discloses information collected from users (each, a "User") of the a-lovely-thing.com website ("Site"). This privacy policy applies to the Site and all products and services offered by a lovely thing.

        p  Personal identification information

        p  We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, place an order, subscribe to the newsletter, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, mailing address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.

        p  Non-personal identification information

        p  We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.

        p  Web browser cookies

        p  Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.

        p  How we use collected information

        p  a lovely thing may collect and use Users personal information for the following purposes:

        p  - To share your information with third parties
        p    We may share or sell information with third parties for marketing or other purposes.
        p  - To send periodic emails
        p  If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.

        p  How we protect your information

        p  We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.

        p  Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.

        p  Sharing your personal information

        p  We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.

        p  Google Adsense

        p  Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to Users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at http://www.google.com/privacy_ads.html

        p  Changes to this privacy policy

        p  a lovely thing has the discretion to update this privacy policy at any time. When we do, we will send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.

        p  Your acceptance of these terms

        p  By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.

        p  Contacting us

        p  If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
        p  a lovely thing
        a(href="") a-lovely-thing.com
      #moreInfo.tab-pane.fade
        b How does your UK Standard Delivery service work?
        p If you choose UK Standard Delivery: It's fully trackable. If your order is above £15.00, no delivery charge will be applied. If your order value is less than this, the delivery charge is £3.00. Your
        b How can I find your international delivery information?
        p Click here to find out more about international delivery times and costs . Standard and Express delivery services are available for most of the countries that we ship to. Once you have entered the
        b I'm an International customer. How do I return something to you?
        p If you're a UK customer, please  click here for information on returns. If you're looking to return a faulty or incorrect item, please get in touch so we can get this sorted for you. We want to
        b How does your UK Next Day Delivery service work?
        p You can place an order using our Next Day delivery service to a residential address or Collect+ store*. Our UK Next Day delivery service is only available to select postal codes; you can find a list
        b Can I return an item for an exchange instead of a refund?
        p If you’re an International customer please  click here for information about returns. If you're looking to return a faulty or incorrect item, please get in touch so we can get this sorted for
script.
  $('.nav-tabs a:first').tab('show');